@import "tailwindcss";
* {
  scroll-behavior: smooth;
}
:root {
  --background: #282c33;
  --primary: #dd7878;
  --font: "JetBrains Mono";

  /* text */
  --foreground: #f4ecec;
  --muted: #d3cfcf;
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);

  --color-foreground: var(--foreground);
  --color-muted: var(--muted);

  --font-family: var(--font);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font);
    color: var(--foreground);
    font-weight: 700; /* Bold headings by default */
  }

  h1 {
    @apply text-4xl leading-tight;
  }
  h2 {
    @apply text-3xl leading-snug;
  }
  h3 {
    @apply text-2xl leading-normal;
  }
  h4 {
    @apply text-xl leading-normal;
  }
  h5 {
    @apply text-lg font-medium text-muted;
  } /* Medium weight & muted for subheadings */
  h6 {
    @apply text-base font-medium text-muted;
  }
}
